.list-item {
  list-style: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  padding: 20px;
  box-shadow: 2px 2px 4px black;
  transition: transform 0.5s;
}

.list-item:hover {
  transform: scale(1.05);
}
