.single-news {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px;
  background: linear-gradient(
    180deg,
    rgba(179, 170, 2, 1) 0%,
    rgba(194, 255, 0, 1) 100%
  );
}

.single-news-container {
  display: flex;
  flex-direction: column;
}

.button {
  color: white;
  text-align: center;
  cursor: pointer;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
}

.button:hover {
  box-shadow: 1px 1px 5px black;
}
