.single-news {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px;
}

.single-news-container {
  display: flex;
  flex-direction: column;
}

.button {
  color: white;
  text-align: center;
  cursor: pointer;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
}

.button:hover {
  box-shadow: 1px 1px 5px black;
}
